<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Blog</title>
</head>
<body>
    <form action="./upload_blog_saved" method="POST" enctype=multipart/form-data>
        <label for="title">Titulo</label>
        <input type="text" name="title" id="">
        <br>
        <label for="blog">Descripcion</label>
        <input type="text" name="blog" id="">
        <br>
        <label for="inputFile">File input</label>
        <input type="file" name="inputFile">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>